<div class="text-center home-page">
	
	<h1 class="large-text"><em>Vivaldi</em></h1>

	<p class="lead">
		<em>Punto de venta.</em>
	</p>
	<br/><br/>

	<div class="text-center ng-scope">
	
	<br><br>
	
	<div class="container">
		
		<div class="col-md-5">
			<a href="#/inventory" class="btn btn-info btn-block"> 
				<h2>Inventario Vivaldi</h2>
			</a>
		</div>

		<span class="col-md-1"></span>
		
		<div class="col-md-5">
			<a href="#/pos" class="btn btn-info btn-block">
				<h2>Vender</h2>
			</a>
		</div>

	</div>
	
	<br><br>

	<div class="container">	

		<div class="col-md-5">
			<a href="#/inventory2" class="btn btn-info btn-block"> 
				<h2>Inventario Vivaldi2</h2>
			</a>
		</div>

		<span class="col-md-1"></span>

		<div class="col-md-5">
			<a href="#/transactions" class="btn btn-info btn-block">
				<h2>Transacciones</h2>
			</a>
		</div>

	</div>

	<br><br>

	<div class="container">	

		<div class="col-md-5">
			<a href="#/inventory3" class="btn btn-info btn-block"> 
				<h2>Inventario Platini</h2>
			</a>
		</div>
		
		<span class="col-md-1"></span>

	</div>

</div>