<br/>

<div class="text-center">
	<span class="">Ventas de hoy</span> 
	<br/>
	<span class="text-success checkout-total-price">
		$ <span odometer="todayTotal"></span>
	</span>
</div>

<br/><br/>

<table ng-if="transactions" class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Hora</th>
			<th>Total</th>
			<th>Pago del cliente</th>
			<th>Productos</th>
			<th>Abrir</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in transactions track by $index | orderBy: getTransactionDate(transaction):reverse">
			<td> {{ transaction.date | date:'short' }} </td>
			<td> {{ transaction.total | currency }} </td>
			<td> {{ transaction.payment | currency }}</td>
			<td> {{ getNumberOfProducts(transaction.products) }} </td>
			<td>
				<a class="btn btn-info" href="#/transaction/{{ transaction._id }}">
					<i class="glyphicon glyphicon-new-window"></i>
				</a>
			</td>
		</tr>
		<tr ng-if="!transactions.length">
			<td colspan="5">No se encontraron transacciones.</td>
		</tr>
	</tbody>	
</table>