<h1 class="text-center">
	<a href="/#/">Vivaldi</a>
</h1>

<ul class="nav-menu">
	<li><a href="#/inventory" class="lead" ng-class="{ active: isActive('inventory') && !isActive('inventory2') && !isActive('inventory3') }">Inventario Vivaldi</a></li>
	<li><a href="#/inventory2" class="lead" ng-class="{ active: isActive('inventory2') }">Inventario Vivaldi2</a></li>
	<li><a href="#/inventory3" class="lead" ng-class="{ active: isActive('inventory3') }">Inventario Platini</a></li>
	<li><a href="#/pos" class="lead" ng-class="{ active: isActive('pos') }">Vender</a></li>
	<li><a href="#/transactions" class="lead" ng-class="{ active: isActive('transactions') }">Transacciones</a></li>
	<!--<li><a href="#/live-cart" class="lead" ng-class="{ active: isActive('live-cart') }">Carrito</a></li>-->
</ul>
